$pwmGrey: #D3D4D5;
$pwmGreyLight: #F3F4F5;
$pwmBrown: #6F645E;
$pwmDarkBrown: #605B57;
$pwmBeige: #D3A574;
$pwmBronze: #A86728;
$pwmBlack: #282828;
$pwmWhite: #FFFFFF;

$igBlue: #282828;
$igGreen: #282828;
$textShadow: #818c91;
$errorRed: #d42f1a;
$borderGrey: #c1cbd0;
$buttonText: #0c273c;
$charcoal: #282828;
$highlightBackground: #fbf7eb;
$primaryBackground: #7ec4b9;
$alternateBackground: #f1f7f7;