/*---------------------------------------PWM MODULES-------------------------------------*/

/*--------------2.Hero Contact Info-----------*/
.consultant_name {
	text-transform: capitalize;
}
.section.personnel {
	background-color: $pwmGreyLight;

	&.active {
		h2 {
			@media #{$small-only} {
				margin-bottom: 2.2rem;
			}
		}
	}

	.row {

			.columns {
				text-align: center;
				.row {
					margin-left: 0;
					margin-right: 0;

					@media #{$xlarge-up} {
						// padding: 0 4.5rem;
					}

					h3 {
						line-height: 3rem;
						margin-bottom: .6rem;


						@media #{$large-up} {
							line-height: 5rem;
							margin-bottom: .3rem;
						}

						+ p {
							margin-bottom: .2rem;

							@media #{$small-only} {
								&.tp_08 {
									line-height: 2rem;
									margin-bottom: -.2rem;
								}
							}

							+ p + p {
								margin-top: 2.1rem;

								@media #{$small-only} {
									margin-top: -0.2rem;
								}
							}
						}
					}

					a.underline-link {
						@include vertical-separator("&", .2rem, 2.8rem, 300%);

						& {
							margin-top: 3.5rem;

							@media #{$small-only} {
								margin-top: 2.1rem;
							}

							&::after {
								top: -2.3rem;

								@media #{$small-only} {
									top: -1.2rem;
								}
							}
						}
					}

					.columns {

						@media #{$medium-only} {
							&:first-child {
								padding-left: 0;
							}

							&:last-child {
								padding-right: 0;
							}
						}

						@media #{$small-only} {
							padding: 0;
						}
					}
				}
			}

	}

	&.profile {

		> .row {
			max-width: 105rem;

			+ .row {
				.columns {
					.row {
						position: relative;

						> .columns.details {
							@media #{$medium-only} {
								&:first-child {
								}
							}

							h1 {

								@media #{$small-only} {
									+ p {
										margin-bottom: -.2rem;
									}
								}
							}

							.portrait {
								border-color: $primaryBackground;
								width: 22rem;
								height: 28rem;

								@media #{$small-only} {
									margin-bottom: .3rem;
									width: 11rem;
									height: 14rem;
								}

								img {
									height: 28rem;

									@media #{$small-only}{
										height: 14rem;
									}
								}
							}

							// .underline{

							// 	@include vertical-separator("&", .1rem, .5rem, 30%);
								
							// 	&::after {
							// 		border-color: rgba(13,38,60,0.3);
							// 		width: 334px;
							// 		margin: 0 auto;
							// 		left:0;
							// 		right:0;

							// 		@media #{$medium-only}{
							// 			width: 250px;
							// 			padding-top:0;
							// 			padding-bottom: 0;
							// 		}

							// 		@media #{$small-only}{
							// 			width: 230px;
							// 			padding-top:0;
							// 		}
							// 	}

							// 	margin-bottom: 0.5rem;
							// 	padding-bottom: 0.5rem;

							// 	@media #{$small-only}{
							// 			padding-top:0.5;
							// 			padding-bottom:0;
							// 		}

							// }

							.tp_08{

								@media #{$medium-only} {
									margin-top: 2rem;
									margin-bottom: 0;
								}
							}

							.tp_09 {
								@media #{$large-up} {
									line-height: 2.5rem;
								}
							}

							+ .columns {
								padding: 0;
								width: 12.5rem;
								position: absolute;
								top: 3.7rem;
								right: 2.4rem;

								@media #{$small-only} {
									position: static;
									width: 100%;
									margin-top: .3rem;
								}

								strong {
									@include font("tp_11");

									@media #{$small-only} {
										@include font("tp_05");

										& {
											text-shadow: none;
										}
									}
								}

								span {
									@include font("tp_05");
									display: block;
									margin-top: -.2rem;

									@media #{$small-only} {
										display: inline;
									}

									& {
										line-height: 1.8rem;
									}
								}
							}
						}

						+ .row {
							margin-top: 1.2rem;

							&.explore {
								margin-top: 7rem;

								@media #{$small-only} {
									margin-top: 0.5rem;
								}
							}

							&.show-for-small-only{
								display: none;
								@media #{$small-only}{
									display: block;
									margin-top: 3rem;
								}
							}

							.outline-btn {
								margin-bottom: 1.1rem;

								&.secondary{
									@media #{$small-only}{
										&:hover {
											color: white;
											background-color: transparent;
										}
									}
								}
							}

							.icon {
								margin-left: 1.3rem;
								margin-right: 1.3rem;
							}

							&.form-actions {

								.outline-btn{
										width: 100%;
									}

								.dropdown{
									float: right;

								}

								@media #{$small-only}{
									margin-top: 2rem;
								}


								.is-dropdown-submenu{
									@media #{$small-only}{
										left: 70%;
										top: 40px;
									}
									border: none;
								    border-radius: 5.5px;
								    box-shadow: 0 1px 7.5px rgba(0, 0, 0, 0.35);
								    padding: .8rem 0 2.5rem;
								}

								
								.small-proportional-grid{

									@media #{$small-only}{
									margin-bottom: 1.4rem;
									} 
								}

								.small-6{
									padding-right: 2.5rem;
									text-align: right;
									@media #{$small-only}{
										padding:0;
										.phone{
											width: 53%;
											float: right;
											margin-right: 1.5rem;
											@media #{$small-only}{ 
												margin-right: 0;
											}
											.show-for-small-only{
												padding-right:1.5rem;
												float: right;
											}
										}
										.email{
											width: 55%;
											float: left;
											margin-left: 1.5rem;
											@media #{$small-only}{
												margin-left: 0;
											}
											.show-for-small-only{
												padding-left:1.5rem;
												float: left;
											}
										}
									}
								}

								.medium-5{
									text-align: right;
								}

								.small-12{
									text-align: left;
									padding-left: 2.5rem;

									@media #{$small-only}{
										padding:0;
										text-align: center;
									}

									.outline-btn{
										@media #{$small-only}{
											max-width: 100%;
										}
									}
								}

								.columns{
									&.medium-centered {
										@media #{$medium-only} {
											padding-left: 2.75rem;
											padding-right: 2.75rem;
										}

										@media #{$small-only} {
											padding: 0;
										}

										+ :not(.medium-centered) {
											@media #{$small-only} {
												padding-left: 0;
											}

											@media #{$medium-only} {
												padding-left: 0;
											}
										}
									}

									&:not(.medium-centered) {

										@media #{$small-only} {
											margin-top: 0;
										}

										.outline-btn {
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.section.hero{
	background-color: $pwmGreyLight;
	padding-top:12rem;

	@media #{$small-only}{
		padding-top:0;
	}

	.show-bio-content{
		a{
			color: inherit;
		}
	}

	h1{	

		@media #{$large-up}{
			margin-top: 4rem;
		}

		@media #{$medium-up}{

			@include vertical-separator("&", .1rem, .5rem, 30%);
			
			&::after {
				border-color: $pwmBronzeFaded;
				margin: 0 auto;
				left:0;
				right:0;
				width: 150px;
				}


			margin-bottom: 0.5rem;
			padding-bottom: 0.5rem;

		}

		@media #{$medium-only}{
			margin-top: 3.5rem;

			&::after{
				top: -2.4rem;
			}
		}

		@media #{$small-only}{
			line-height: 1.5rem;
		}

	}


	.hero-image{
		margin-right: -10rem;
		z-index: 77777;
	}

	.empty-space{
		height: 4rem;
	}

	.consultant-wrapper{
		.active-show-bio{

			margin-top: 3rem;

			@media #{$medium-up}{
				display: block;

				.show-bio-btn{
					display: none;
					
				}
			}

			.div.tp_09{
				line-height: 2.5rem;
			}
		}
	}

	.hide-for-large-only{
		margin-top: 3rem;

		.portrait{
			height: auto!important;
			@media #{$small-only}{
				// height: 20rem!important;
				// margin-bottom: 3rem!important;
				// top: -1.2rem;
				// width: 100vw;
				// position: relative;
				// left: 50%;
				// right: 50%;
				// margin-left: -50vw;
				// margin-right: -50vw;
			}

			img{
				// overflow: hidden;
				// height: auto!important;
				// top: -125px;

				@media #{$medium-only}{
					// height: 57rem!important;
					// top: -8rem;
				}
			}
		}
	}

	.details{
		.small-12{
			@media #{$large-up}{
				margin-bottom: 6rem;
			}

			.primary{
				@media #{$small-only}{
					margin-top: 5rem;
				}
			}

			&.show-for-small-only{
				margin-top: 1rem;
			}

			.outline-btn.overlay-hide{
				margin-bottom: 3rem;
			}
		}
	}

	.tp_08{

		color: $pwmBronze;

		@media #{$small-only}{
			margin-bottom: 0;

		}
	}

	.tp_11{
		margin-bottom: 0;

		@media #{$large-up}{
			line-height: 8rem;
		}
	}

	.tp_13{
		width: 17rem;
		margin: 0 auto;
		line-height: 2.5rem;
		margin-bottom: 2rem;
	}

	.tp_20{
		margin-top: 3rem;
		line-height: 4rem;

		@media #{$medium-only}{
			margin-top: 4rem;
		}
	}
	

	.portrait.show-for-large-only{
		// width: 56.5rem;
		// height: 87rem;
		width: 100%;
		height: auto;
		img{

			@media #{$large-up}{
				height: 87rem;
			}
		}
	}
	.portrait-hero {
		padding-left: 20px;
	}


	>.row{

		>.columns{

			// @media #{$large-up}{
			// 	height: 55rem;
			// }
		}

		&:nth-child(2){

			p{
				margin-bottom: 0;
			}
			.underline{
				border-top: 1px solid $pwmGrey;
    			padding-top: 0.2rem;
			}
			.tp_07{
				color: $pwmBronze;
				text-transform: uppercase;
			}

			.tp_08{
				color: $pwmBronze;
			}

			.tp_11{
				color: $pwmBronze;
			}

			.tp_21{
				color: $pwmBronze;
			}
		}

	}


	.form-actions{
		margin-top: 3rem;
		div:last-of-type{
			.columns{
				width: 48%;
				&:first-child{
					margin-right: 0.5rem;
				}
				&:last-child{
					margin-left: 0.5rem;
				}
			}
		}

		.small-proportional-grid{
			.large-7{
				padding-right:1rem;
			}
		}

		li.is-dropdown-submenu-parent{
			width: 23rem;
			margin: 0 auto;

			.outline-btn{
				&:hover{
					background-color: inherit;
					color: inherit;
				}
			}
		}
	}

	.social-icons{
		.facebook, .linkedin{
			top: 1rem;
			margin-left: 0;
		}

		.twitter{
			top: 1.2rem;
			left: 0;
		}
	}
}

/*--------------3.About Section---------------*/

.section.about {
	background-color: $pwmBrown;

	h2, h3, p {
		color: $pwmWhite;
	}

	.section-title{
		position: relative;
		margin-top: 30px;
		@media #{$large-up}{
			padding-top: 11rem;
		}
	}

	.tp_02{
		padding-top:7rem;
		padding-bottom:2rem;

		@media #{$small-only}{
			padding-top: 2.5rem;
		}
	}

	.tp_07{
		margin-bottom: 0;
	}
}

/*--------------4.Team------------------------*/

.section.team{
	background-color: $pwmBrown;

		.row {

			.columns {
					.row {

						.columns {

							&:last-child{

								@media #{$medium-up}{
									float: left;
									// margin-top: -25rem;
								}
							}
						}
					}
			}
		}
}

.team-member {

	margin-bottom: 3rem;

	a{
		color: white;
	}

	.social-icons{
		text-align: center;
		margin-top: 4rem;

		a{
			margin-right: 1rem;
		}

		&.overlay-hide{

			a:hover{
			    border: 2px solid white;
			}
		}
	}

	.active-show-bio{
		margin-top: 3rem;
	}

	.portrait-block{
		background-color: $pwmBeige;
		z-index: 100;
		width: 20rem;
		height: 40rem;
		position: absolute;
	}

	.portrait {
		position: relative;
		border: none;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		margin: 12px 0;
		padding: 0 19px;

		// width: 35rem;
		// height: 37rem;
		// right: -5rem;
		// top: 1rem;

		img {
			// max-width: 100%;
			height: auto;
			padding:22px;
			z-index: 200;
			position: relative;
			transform: translateX(0);
			-ms-transform: translateX(0);
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			left: auto;

			// top: -12rem;
			// left: -10rem;
			// width: 50rem;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 50%;
			background-color: $pwmBeige;
			z-index: 100;
		}
	}

	&:nth-child(even) {

		.portrait-section{
			float: right;
		}
			.portrait {
				@media #{$medium-up} {
					// margin-top: 320px;
				}

				&:after {
					right: 0;
					left: 50%;
				}
			}
			h3, p, .outline-btn.secondary {

				@media #{$medium-up} {
					margin-left: 40px;
				}
			}
		}
	h3, p {
		color: $pwmWhite;
		margin:0;
		text-align: left;
		padding: 0;
		line-height: 1.125;
	}
	.tp_08 {
		padding: 3px 0 0;
	}
	.tp_09 {
		padding: 22px 0 0;
    	line-height: 1.5em;
	}
	.outline-btn.secondary {
		margin: 22px 0 0;
		color: $pwmWhite;
    	border-color: $pwmWhite;

    	&:hover, &:focus {
    		background-color: $pwmWhite;
    		color: $pwmBronze;
    	}
	}

	.show-for-large-only{
		&.show-bio{
			color: $pwmWhite;
			padding-top: 5rem;

			&::after{
				border-color: $pwmWhiteFaded;
				top: 3.5rem;
			}

			i{
				margin-top: -0.3rem;

				&::after{
					border-color: $pwmWhiteFaded;
				}
			}
		}
	}
}


.personnel-bio-overlay {
	max-width: 86rem;
	padding: 0;
	margin: 0;
    position: relative;
    height: 100%;

	@media #{$medium-up} {
		padding: 0 5rem;
		margin: 0 auto;
		box-sizing: content-box;
		// height: calc(100% - 3.9rem);
		height: auto;
	}

	@media #{$xlarge-up} {
		padding: 0 9rem;
	}

	.show-bio-content{
		display: block;

		a{
			&:nth-child(2){
				&:after{
					border-color: #c1cbd0;
				}
			}
		}
	}

	.portrait-bio{
		width: auto;
		margin-left: 0!important;
		margin-bottom: 0!important;
		float: none;

		@media #{$medium-up}{
			margin-top: 5rem;
		}

		i{

			&:active{
				-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			     transform: rotate(45deg);
			}
		}
	}

	.social-icons{
		text-align: center!important;
	}

	.details{
		width: auto;

		.show-for-small-only{
			:not(:first-child){
				clear: none!important;
			}
		}
	}

	.social-icons{
		position: relative!important;
	}

	a{
		color: #0a0a0a;
	}


    .slick-list {
    	height: 100%;

    	.slick-track {
    		height: 100%;

			.carousel-slides {
				position: relative;
				margin-top: 0;
				box-sizing: border-box;

				@media #{$small-only} {
					margin: 0;
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;
					padding: 1rem 1.9rem;
					text-align: center;
				}

				@media #{$medium-up} {
					align-items: center;
	    			display: flex;
				}

				> div {
					width: 100%;
					.portrait {
						border: 0;
						margin: 4.3rem auto 1.1rem;

						@media #{$small-only} {
							width: 11rem;
							height: 14rem;

							img {
								height: 14rem;
							}
						}

						@media #{$medium-up} {
							float: left;
							margin: 0 5rem 2.5rem;
						}

						@media #{$large-up} {
							margin-bottom: 5rem;
						}
					}

					h1, h3, p, div {
						&:first-child {
							@media #{$medium-up} {
								float: left;
							}
						}
					}

					h1, h3 {
						@include font('tp_02');
						margin: 0 0 -.1rem;

						@media #{$small-only} {
							line-height: 3.7rem;
						}

						@media #{$medium-only} {
							line-height: 2.8rem;
						}

						@media #{$medium-up} {
							margin: -0.8rem 0 .8rem;
						}

						@media #{$large-up} {
							margin: -1.9rem 0 -.3rem;
						}
					}

					div {
						// margin-bottom: 5.5rem;

						&:not(:first-child) {
							clear: both;

							@media #{$small-only} {
								margin-bottom: 0;
							}

							@media #{$medium-only} {
								margin-left: 5rem;
							}

							@media #{$large-up} {
								clear: none;
								margin-top: 2.2rem;
							}

							a.tp_09 {
								display: inline-block;

								@media #{$small-only} {
									@include font('tp_05');

									span {
										font-size: 1.6rem;

										.fa {
											display: inline-block;
											border: 2px solid $igBlue;
											width: 2.9rem;
											height: 2.9rem;
											border-radius: 50%;
			    							line-height: 2.4rem;
									    	font-size: 1.3rem;
									    	margin-right: .2rem;

			    							&.fa-phone {
										    	font-size: 1.8rem;
			    							}
										}
									}
								}

								+ a {
									@include horizontal-separator("&", .2rem, 5.2rem, 80%);

									&::after {
										margin-left: -0.2rem;
									}

									@media #{$small-only} {
										@include horizontal-separator("&", .1rem, 2.2rem, 80%);

										&::after {
											border-color: $pwmBronze;
										}
									}
								}
							}
						}
					}

					p {
						&.social-icons {
							text-align: center;
							margin-bottom: 1.2rem;
							@include vertical-separator("&", .1rem, 3rem, 100%);

							@media #{$medium-up} {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								margin: 0;

								&::after {
									display: none;
								}
							}

							a {
								margin: 1.25rem;
							}
						}

						&.tp_08, &.tp_07 {
							@include font('tp_08');
							margin-bottom: 0rem;

							@media #{$medium-up} {
								margin-bottom: .4rem;
							}

							.icon {
								margin-bottom: 0.6rem;

								@media #{$medium-only} {
									margin-bottom: .4rem;
								}
							}
						}

						&.tp_06, &.tp_04 {
							@include font('tp_06');
							margin-bottom: 1.2rem;

							@media #{$small-only} {
								letter-spacing: 1px;
								line-height: 1.6rem;
							}
						}

						&.tp_09 {
							@include font('tp_09');

							@media #{$small-only} {
								letter-spacing: 1px;
								margin-bottom: 1.8rem;
							}
						}

						&:last-child {
							text-align: left;
							clear: both;
							line-height: 2.5rem;

							@media #{$small-only} {
								font-size: 1.6rem;
								margin-bottom: 6.2rem;
							}

							@media #{$medium-up} {
								line-height: 3rem;
							}
						}
					}

					.overlay-only {
						display: block;
					}

					.overlay-hide {
						display: none!important;
					}
				}
			}
    	}
    }

	.slick-arrow {
		@media #{$small-only} {
			display: none !important;
		}

		&.carousel-prev {
			left: 0;
		}

		&.carousel-next {
			right: 0;
		}
	}
}

.personnel-bio-overlay {
	max-width: 91.4rem;
	margin: 0 auto;

	.carousel-slides {
	    margin: 2rem 3rem 0;
	    padding: 0 0 .2rem;
	    width: 38.1rem;

		@media #{$medium-up} {
	    	margin: .8rem 3.8rem 0;
		}

	    h3 {
	    	@include font("tp_03");
	    	margin-top: 1.8rem;
    		margin-bottom: 1.2rem;

			@media #{$medium-up} {
	    		margin-top: 3.8rem;
	    		margin-bottom: 1.8rem;
			}
	    }

	    p {
	    	@include font("tp_09");

			@media #{$small-only} {
		    	font-size: 1.6rem;
		    	line-height: 2.5rem;
			}
	    }

	    .underline-link {
			@media #{$medium-up} {
    			margin-top: .2rem;
			}
	    }
   	}

   	.slick-arrow {
   		position: absolute;
   		top: 50%;
   		transform: translateY(-50%);
   		z-index: 100;
   		cursor: pointer;
   	}

	.slick-dots {
		bottom: -5.1rem;
		left: 0;

		@media #{$medium-up} {
				bottom: -6.4rem;
		}

		li {
			width: 1rem;
			height: 1rem;

			&.slick-active {
				button {
					background-color: $igGreen;
				}
			}

   			button {
   				background-color: #a7a6a4;
   				border-radius: 50%;
   				padding: 0;
   				width: 100%;
   				height: 100%;

   				&::before {
   					content: "";
   				}
   			}
		}
	}
}


.personnel-bio-overlay{

	.slick-arrow{
		&.carousel-prev {
			left: 0;

			@media #{$medium-up} {
					left: 2rem;
			}

			@media #{$large-up} {
					left: 6rem;
			}
	   	}

		&.carousel-next {
			right: 0;

			@media #{$medium-up} {
					right: 2rem;
			}

			@media #{$large-up} {
					right: 6rem;
			}
		}
	}
}

.block-link{
	cursor: pointer;

	&:hover {
		.portrait {
			border-color: $igGreen;
		}
	}
}


/*-------------5.Events----------------------*/
.section.events {
	background-color: $pwmGrey;

	.section-title{
		&:after {
			border-bottom: thin solid $pwmBrownFaded;
		}
	}

	@media #{$medium-only}{
		padding-top: 4rem;
		padding-bottom:8.4rem;
	}

	@media #{$large-up}{
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	.illustration{

		width: 150px;
		height: 150px;

		@media #{$small-only}{
			margin-bottom: 3rem;
			margin-top: 3rem;
		}

		&:after{

			font-family: 'whitney_lightregular';
			text-transform: uppercase;
			color: $pwmWhite;
			content: 'June 6-8 2016';
		    display: block;
		    position: absolute;
		    background-color: #D3A574;
		    border-radius: 50%;
		    z-index: 100;
		    text-align: center;

			@media #{$medium-up}{
				font-size: 1.2rem;
				top: 57%;
			    bottom: 0;
			    left: 68%;
			    right: -14px;
			    padding-top:16px;
			}

		    @media #{$small-only}{
		    	font-size: 1rem;
		    	margin-left: 10rem;
		    	margin-top: 9rem;
		    	line-height: 6rem;
		    }
		}

	}

	.underline{
		text-align: center;

		&::after{
			width: 8rem;
			border-color: $pwmBrownFaded;
		}
	}

	>.row{
		>.columns{

			@media #{$large-up}{
				padding-top:10rem;
			}
			
			.illustration{
				@media #{$medium-only}{
					float: right;
				}

			}

			.row{
				@media #{$medium-only}{
					padding-top:3rem;
				}
			}

			>.row:first-of-type{
				@media #{$large-up}{
					width: 45%;
					float: left;
					margin-right: 10rem;
				}
				.columns:first-of-type{
					.tp_09{

						margin-top: 4rem;

						@media #{$small-only}{
							text-align: center;
						}
						@media #{$medium-only}{
							float: right;
						}
					}
				}
			}

			>.row:last-of-type{
				@media #{$large-up}{
					width: 45%;
					float: left;
				}

				.columns:first-of-type{
					.tp_09{

						margin-top: 4rem;

						@media #{$small-only}{
							text-align: center;
						}
						@media #{$medium-only}{
							float: right;
						}
					}
				}
			}
		}
	}

}

/*-----------------6.General Inquires---------------*/
.section.inquiries {
	background-color: $pwmGreyLight;

	@media #{$medium-only}{
		padding-top: 4rem;
		padding-bottom:8.4rem;
	}

	@media #{$large-up}{
		padding-top:12rem;
		padding-bottom: 16rem;
	}

	.outline-btn{
		&.secondary{
			color: $pwmDarkBrown;
			border-color: $pwmDarkBrown;

			&:hover{
				background-color: $pwmDarkBrown;
				color: $pwmWhite;
			}
		}
	}

	.map-anchor{
		width: 18rem;

		.map-container{
			width: 18rem;
			height: 18rem;
			border-radius: 11.3rem;
		}
	}

	.section-title{
		&:after {
			border-bottom: thin solid $pwmBrownFaded;
		}
	}

	h2{
		color: $pwmDarkBrown;
	}

	h3 {
		margin-bottom: 2.6rem;
		color: $pwmDarkBrown;

		@media #{$small-only} {
			margin-bottom: 1.6rem;
			text-align: center;
		}

		@media #{$large-up} {
			line-height: 6rem;
		}
	}

	.info-toggle-content {
		> div {
			@media #{$small-only} {
				padding-top: .9rem;
				padding-bottom: 3.2rem;
			}

			@media #{$medium-up} {
				padding-top: 3.3rem;
				padding-bottom: 7.3rem;
			}
		}
	}

		.row {
			.columns {
					.maps{
						>.medium-5{
							@media #{$large-up}{
								padding-right:8rem;
							}

							@media #{$medium-only}{
								padding-right:3rem;
							}
						}

						>.medium-6{
							@media #{$medium-up}{
								padding-top:3rem;
							}
						}

					}
				+ .columns {

					@media #{$small-only} {
						margin-top: 1.7rem;
					}
				}
			}

			+ .row {
				margin-top: 10rem;

				@media #{$small-only} {
					margin-top: 7.3rem;

					&:last-child {
						margin-top: 1rem;
					}
				}
			}

			&:last-child {
				padding-top: 3rem;

				.dropdown.menu {
					> li.is-dropdown-submenu-parent {
							a{
								&::after{
									border-color: white transparent transparent;
								}
							}
							span {
								position: relative;

								.fa {
									position: absolute;
									left: -2rem;
								    top: 50%;
    								transform: translateY(-50%);
    								margin-top: .2rem;
								}
							}
						}
					}
				}

				.columns{
					padding-top: 0;
				}
			}	

	.dropdown{
		float: right;
			.outline-btn{
				background-color: $pwmDarkBrown;
				color: white;
				border: $pwmDarkBrown;
			}
		@media #{$small-only} {
			float: none;
		}

		@media #{$medium-only}{
			float: left;
		}
	}

	.contact{

		@media #{$medium-only}{
			clear: both;

		}

		@media #{$large-up}{
			width: 60rem;
		}

		.columns{

			&:first-of-type{
				padding-right:1.5rem;

				.outline-btn{
					@media #{$medium-only}{
						float: right;
					}
				}
			}

			&:nth-child(2){
				padding-left:1.5rem;
				.dropdown{
					@media #{$large-up}{
						float: left;
					}
				}
			}

			&:nth-child(3){
				@media #{$medium-up}{
					padding-top:5rem;

					&:after {
						content: '';
						display: block;
						bottom: 0;
						width: 150px;
						height: 1px;
						border-bottom: thin solid $pwmBrownFaded;
						margin: 15px auto 0;
					}

					&:before{
						content: '';
						display: block;
						bottom: 0;
						width: 150px;
						height: 1px;
						border-bottom: thin solid $pwmBrownFaded;
						margin: 15px auto 1rem;
					}
				}

				a{
					color: $pwmBrown;

					&:hover{
						color: $pwmBronze;
					}
				}
			}

			&:last-child {
				text-align: center;

				@media #{$small-only} {
					margin-top: 4.2rem;
					text-align: center;

				@media #{$medium-only} {
					padding-left: 2.5rem;
				}

				@media #{$large-up} {
					padding-left: 5rem;
				}

				a {
					@media #{$medium-only} {
						line-height: 33px;
					}

					&:hover {
						text-decoration: underline;
					}
				}

					&::after {
						display: none;
					}

					&::before {
						content: "Email";  
						margin-bottom: 0.2rem; 
					    font-weight: 400; 
					    display: block; 
					    font-family: "whitney_scmedium";
					    font-size: 1.4rem;
					    text-transform: lowercase;
					    letter-spacing: 1px;
					}						
				}
			}
		}
	}

	
	@media #{$small-only}{

		.is-submenu-item{
			&.is-dropdown-submenu-item{
				a{
					padding: 1rem 11% 1rem!important;
				}
			}
		}
	}
}

/*-----------------7.Have Questions-----------------*/
.section.cta {
	text-align: center;
	background-color: $pwmBeige;
	padding-bottom: 6.2rem;
	color: $pwmWhite;

	.row:nth-child(2){
		margin: 0 auto;
		max-width: 87rem;
		.columns{
			text-align: left;
		}
	}

	@media #{$medium-up} {
		padding-top: 4rem;
		padding-bottom: 8.4rem;
	}

	h2 {
		letter-spacing: 1px;
		margin-bottom: 5.2rem;

		@media #{$small-only} {
			margin-bottom: 2.7rem;
		}
	}

	p {
		@media #{$small-only} {
			font-size: 2.2rem;
			line-height: 2.8rem;
			text-align: left;
		}

		@media #{$medium-only} {
			font-size: 2.2rem;
			line-height: 2.8rem;
		}
	}

	.outline-btn {
		margin-top: 5.3rem;
		width:auto;
		color: $pwmWhite;
		background-color: transparent;
		border-color: $pwmWhite;

		@media #{$small-only} {
			margin-top: 2.9rem;
		}

		&:hover {
    		border-color: $pwmBronze;
		}
	}
}
